html {
  font-size: 100%;
  font-family: "Open Sans", Helvetica, sans-serif;
}

body {
  background-color: white;
}

input[type=text], select {
    width: 100%;
    padding: 15px 15px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    font-size: 100%;
}

input[type=button] {
    width: 20%;
    background-color: #3949AB;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 8px;
    font-size: 100%;
}

input[type=button]:hover {
    background-color: #304ffe;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-div{
  text-align: center;
}

.form-div {
    border: 4px solid #3949AB;
    border-radius: 5px;
    background-color: #bbdefb;
    padding: 20px;
    width: 50%;
    margin: 0 auto 0 auto
}

#month {
  width: 33.33%;
  float: left;
}

#day {
  width: 33.33%;
  float: left;
}

#year {
  width: 33.33%;
}

#formTitle {
  text-align: center;
}

#ssn1 {
  width: 15%;
  text-align: center;
  float: left;
}

#ssn2 {
  width: 10%;
  text-align: center;
  float: left;
}

#ssn3 {
  width: 20%;
  text-align: center;
  float:left;
  margin-right: 20px;
}

.float-left {
  float: left;
  margin: 20px 5px 0 5px
}

.center {
  text-align: center;
}

#ccn {
  width: 45%;
  text-align: center;
}

#ccLabel {
  float: right;
  margin: 0 20px;
}

.padding {
  margin: 0 10px;
}

.input {
  display: inline;
}

#errorText1 {
  color: red;
}

.error {
  color: red;
}

.confirm-container {
  background-color: #00e676;
  width: 50%;
  margin: 20px 25% 0 25%;
  border: 4px solid black;
}
