html {
  font-size: 100%;
  font-family: "Open Sans", Helvetica, sans-serif;
}

body {
  background-color: white;
}

input[type=text], select {
    width: 100%;
    padding: 15px 15px;
    margin: 8px 0;
    display: block;
    box-sizing: border-box;
    font-size: 100%;
}

input[type=submit] {
    width: 20%;
    background-color: #3949AB;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin: 8px;
    font-size: 100%;
}

input[type=submit]:hover {
    background-color: #304ffe;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button {
  text-align: center;
}

.form {
    border: 4px solid #3949AB;
    border-radius: 5px;
    background-color: #bbdefb;
    padding: 20px;
    width: 50%;
    margin: 0 auto 0 auto
}

#month {
  width: 33.33%;
  float: left;
}

#day {
  width: 33.33%;
  float: left;
}

#year {
  width: 33.33%;
}

#formTitle {
  text-align: center;
  font-size: 150%;
}

#ssn {
  width: 45%;
  text-align: center;
  float: left;
  margin-right: 20px;
}

#ccn {
  width: 45%;
  text-align: center;
}

#ccLabel {
  margin-left: 365px;
}

.input {
  display: inline;
}
